
body{
    
} 

.tdsnum_button{
    height:30px;
    width:140px;
}

.tdskwt_button{
    height:30px;
    width:140px;
}

.window{
	border: 1px solid black;
	border-width: top right;
	background-color: #f0f0f0;
	padding: 10px;
	display: inline-block;
}

#kwt_out
{
    width:200px;
}
